/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* global CSS variables */
:root {
     /* dev borders */
     --wireframe: 2px solid darkblue;
     --debugging: 2px solid darkred;
     --component: 2px solid limegreen;
}

/* app wrapper */
.app {
    height: 100vh;
    width: 100%;
    background: darkslategrey;
}
/* main wrapper */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
    height: 100%;

    padding: 2rem;

    /* dev */
    border: var(--wireframe);
}

/* form component [ input view ] */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12%;
    height: 500px;
    width: 100%;

    /* dev */
    border: var(--component);
}
form label {
    padding: 10px 0px;
    font-size: 1.4em;
    text-transform: capitalize;

    /* dev */
    border: var(--debugging);
}
form input {
    height: 45px;
    width: 100%;
    padding-left: 10px;
    

    /* dev */
    border: var(--debugging);
}
form button,
ul button {
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.12rem;
    color: darkblue;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    height: 35px;
    width: 100%;
    /* dev */
    border: var(--wireframe);
}



form .buttons {
    display: flex;

    width: 100%;
    /* dev */
    border: var(--wireframe);
}


/* list component [ observation view ] */
.list {
    position: relative;
    padding: 12%;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;

    max-width: 500px;
}
.list .items {
    list-style-type: none;
    border: var(--debugging);
    height: 100%;
    width: 100%;
    z-index: 100;
    /* dev */
    border: 2px solid red;
}

/*
    change to card [ back ] details tab on production build
    remove the singular selectors

*/
.list .items .title,
.list .items .desc,
.list .items .pay {

    padding: 3%;
    display: flex;
    justify-content: center;
    border: var(--component);
}


.list button {
    position: fixed;
    left: 12%;
    bottom: 8%;
    max-width: 285px;
    /* max-width: 100%; */
}



.active {
    width: 100%;

    transition: all 200ms ease-in-out;
}


/* 
    modal component

    initiates via click event attached to each list 'items' element

*/
.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.9);
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #FFF;
}
.modal .content {
    height: 100%;
    width: 100%;    

    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* dev */   
    border: var(--wireframe);
}
.modal .exit {
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal .buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10vh;
    width: 100%;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;

    /* dev */
    border: var(--debugging);
}
.modal .buttons button {
    width: 33%;
}


.scroll-current {
    position: absolute;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100%;
    /* dev */
    border: var(--component);
}


.editing-data {
    padding-left: 2rem;
    width: 100%;

    /* dev */
    border: var(--debugging);
}